<footer class="site-footer">

<div class="bottom-banner light-blue">
	<div class="inner">
		
		<div class="nav">
			<ul class = "bottom-banner-menu">
				<li><a href = "mailto:email address" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
				<li><a href="Uni accesibility website" target="_blank" rel="noopener noreferrer">Accessibility</a></li>
		        <li><a href="Uni privacy policy website" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
	    	    <li><a href="terms of use website" target="_blank" rel="noopener noreferrer">Terms of Use</a></li>
	        	<li><a href="A-z website" target="_blank" rel="noopener noreferrer">A-Z Website List</a></li>
			</ul>
		</div>

		<div>
			© 2024 Tulane University
		</div>

	</div>
</div>

</footer>